#top .row h2
{
	font-weight: 600;
    font-size: 4em;
    font-family: fantasy;
    letter-spacing: 1.5px;
    color: #1c69f5;
    margin-left: 28px;
    margin-top: -10px;
    margin-bottom: -5px;
    position: relative;
}

#top .row .frog
{
	width: 53px;
    margin-top: -19px;
    margin-left: -20px;
    margin-bottom: -96px;
}

#top .row .btn
{
	margin-left: 180px;
	margin-top: -70px;
	background: #1c69f5;
	color: #fff;
	border-radius: 10px;
	padding: 5px 15px;
	outline: none;
	cursor: pointer;
}

#top .row .searchterm
{
	border-color: #1c69f5;
	border-radius: 10px 0 0 10px;
	margin-top: 38px;
	padding: 3px 100px 3px 10px;
	outline: none;
	margin-left: 10px;
}

#top .row .dropdown-toggle
{
	border: 1px solid #1c69f5;
	background: #1c69f5;
	color: #fff;
	padding: 6px 8px;
	margin-left: -6px;
	text-decoration: none;
	outline: none;
}

#top .row .searchbtn
{
	padding: 5px 8px;
	margin-left: -5px;
	border: 1px solid #eee;
	background: #1c69f5;
	color: #fff;
	border-radius: 0 10px 10px 0;
	outline: none;
}

#top .row .bton
{
	border-color: #1c69f5;
	background: #fff;
	color: #1c69f5;
	padding: 5px 15px;
	border-radius: 10px;
	margin-top: 35px;
	margin-left: -20px;
	outline: none;

}

#top .row .bton:hover
{
	background: #1c69f5;
	color: #fff;
	border: #fff;
	outline: none;
}
#top .row .bten
{
	border-color: #1c69f5;
	background: #fff;
	color: #1c69f5;
	padding: 5px 5px;
	border-radius: 10px;
	margin-top: 35px;
	margin-left: 10px;
	outline: none;
}

#top .row .bten:hover
{
	background: #1c69f5;
	color: #fff;
	border: #fff;
	border: none;
	outline: none;
}

/*End Head Section*/

#rezue .hovere
{
	margin-left: 0px;
    background: #1c69f5;
    color: #fff;
    padding: 15px 80px;
    font-weight: 600;
    border-right: 2px solid #eeeeee2e;
}

#rezue .hover
{
	margin-left: -2px;
	border-left: 1px solid #eeeeee2e;
    background: #1c69f5;
    color: #fff;
    padding: 15px 70px;
    font-weight: 600;
    border-right: 2px solid #eeeeee2e;
}

#rezue .hove
{
	margin-left: -2px;
    border-left: 1px solid #eeeeee2e;
    background: #1c69f5;
    color: #fff;
    padding: 15px 68px;
    font-weight: 600;
    border-right: 2px solid #eeeeee2e;
}
/*End Navigation bar*/

#back
{
	background: url(cover.jpg);
	background-size: cover;
	padding-bottom: 100px;
}

#back .container .row p
{
	color: #fff;
	margin-top: 80px;
	margin-left: -5px;
	margin-bottom: -5px;
}
#back .container .row h1
{
	color: #fff;
	margin-left: -8px;
	margin-bottom: -5px;
	font-weight: bold;
	font-size: 4em;
}

#back .container .row h4
{
	color: #fff;
	margin-left: -8px;
	font-size: 1.7em;
}

#back .container .row .bott
{
	margin-top: 30px;
	padding: 5px 15px;
	margin-left: -4px;
	border-radius: 10px;
	border-color: #1c69f5;
	background: #1c69f5;
	color: #fff;
	outline: none;
}

/*End Cover Section*/

#lorem .paira
{
	font-weight: bold;
	font-size: 3em;
	margin-left: -5px;
	color: #1c69f5;
	margin-bottom: 20px;
}

#lorem .row #line
{
	width: 250px;
	height: 7px;
	margin-left: -5px;
}

#lorem .row #open
{
	margin-left: -5px;
	width: 250px;
}

#lorem .row .bar
{
	border: 1px solid #1c69f5;
	margin-top: 7px;
	margin-left: -5px;
	margin-right: 17px;
	padding-bottom: 20px;
}

#lorem .row .bar h3
{
	margin-left: 10px;
	font-size: 1.5em;
	font-weight: bold;
	color: #1c69f5;
}

#lorem .row .bar p
{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 11px;
}

#lorem .row .lowbar
{
	border: 1px solid #1c69f5;
    margin-left: -5px;
    margin-right: 17px;
    margin-top: 5px;
    padding-bottom: 7px;
}

#lorem .row .round {
   border: 1px solid #1c69f5;
    background: #fff;
    color: #1c69f5;
    padding: 7px 12px;
    margin-right: 211px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 3px;
}

#uper
{
	margin-left: 40px;
    color: #1c69f5;
    margin-top: -40px;
}

#low
{
	color: #1c69f5;
	margin-left: 40px;
	margin-top: -11px;

}

#side
{
	color: #1c69f5;
    margin-left: 180px;
    margin-top: -35px;
}
#side span
{
	font-weight: bold;
	margin-left: 3px;
}
/*End Lorem Section*/

#cover
{
	background: url(blue.jpg);
	width: 1349px;
	height: 600px;
	margin-top: 80px;
	background-size: cover;
}

#cover .container .tope
{
	font-weight: bold;
	color: #fff;
	margin-left: 393.5px;
	margin-top: 40px;
	font-size: 38px;
}

#cover .container .row .line
{
	width: 340px;
	margin-top: 50px;
	height: 7px;
}

#cover .container .row .open
{
	width: 341px;
	margin-left: -1px;
	margin-top: 10px;
}

#cover .container .row #bar
{
	border: 1px solid #fff;
	background: #fff;
	margin-right: 18.5px;
	margin-top: 10px;
}

#cover .container .row #lowbar
{
	border: 1px solid #fff;
	background: #fff;
	margin-top: 5px;
	height: 45px;
    margin-right: 19px;
}

#cover .container .row #bar h3
{
	font-weight: bold;
	font-size: 26px;
	margin-left: 10px;
	color: #5DC06D;
}

#cover .container .row #bar p
{
	font-size: 12px;
	margin-left: 10px;
	margin-right: 20px;
	color: #948888;
}

#cover .container .row #lowbarr 
{
	background: #fff;
	margin-right: 19px;
	padding: 10px 10px;
	margin-top: 10px;
}

#cover .container .row #lowbarr .rounde
{
	border: 1px solid #5DC06D;
	padding: 5px 10px;
	border-radius: 40px;
	margin-right: 284px;
}
/*End Section Services*/

.contain .container .row .portfolio-menu
{
	text-align: center;
	margin-left: -120px;
	border-bottom: 2px solid #4285F4;
	margin-left: 0px;
	margin-right: -50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contain .container .row .portfolio-menu ul
{
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	margin: 2%  0;
	padding: 5px 0;
	margin: 10px 0 5px 0;
	margin-left: -40px;
}

.contain .container .row .portfolio-menu ul li
{
	list-style-type: none;
	display: block;  
	box-sizing: border-box;
	margin-left: 80px;
}

.contain .container .row .portfolio-menu ul li a
{
	box-sizing: border-box;
	text-decoration: none;
	padding: 10px 45px 5px 0;
	border-radius: 40px;
	transition: 0.2s ease-in-out;
}

.contain .container .row #line {
    width: 250px;
    height: 7px;
    margin-left: 16px;
}

.contain .container .row .bar {
    border: 1px solid #1c69f5;
    margin-top: 7px;
    margin-left: 16px;
    margin-right: -37px;
    padding-bottom: 20px;
}

 .contain .container .row h3 {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #1c69f5;
}
.contain .container .row p
{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}
.contain .container .row .lowbar 
{
    border: 1px solid #1c69f5;
    margin-left: 16px;
    margin-right: -37px;
    margin-top: 5px;
    padding-bottom: 7px;
}
.contain .container .row .lowbar .round 
{
    border: 1px solid #1c69f5;
    background: #fff;
    color: #1c69f5;
    padding: 7px 12px;
    margin-right: 210px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 13px;
}
.contain .container .row .lowbar #uper 
{
    margin-left: 45px;
    color: #1c69f5;
    margin-top: -45px;
}
.contain .container .row .lowbar #low 
{
    color: #1c69f5;
    margin-left: 45px;
    margin-top: -11px;
    margin-bottom: 15px;
}
.contain .container .row .lowbar #side {
    color: #1c69f5;
    margin-left: 180px;
    margin-top: -35px;
}
/*End Section*/

#green
{
	background: #5DC06D;
	margin-top: 30.5px;
	padding-bottom: 60px;
}

#green .container #colo
{
	color: #fff;
	font-weight: bold;
	margin-top: 85px;
	margin-bottom: 30px;
	margin-left: 300px;
}
/*End This Section*/

#secon .container h1
{
	font-weight: bold;
	color: #5DC06D;
	margin: 50px 0;
	margin-left: 455px;
}

#secon .container .row #left
{
	margin-left: 30px;
}
#secon .container .row .left,
#secon .container .row .right
{
	margin-left: 16px;
	font-size: 20px;
	font-weight: bold;
	color: #000000c7;
	margin-top: 35px;
}
#secon .container .row .lft,
#secon .container .row .rgt
{
	margin-left: 16px;
	font-size: 11.8px;
	font-weight: bold;
	color: #000000c7;
	margin-right: 65px;
}
#secon .container .row #right
{
	margin-left: 40px;
}
/*End Section*/

#clients .container h1
{
	color: #000000c7;
	font-size: 27px;
	margin-top: 40px;
	margin-bottom: 80px;
	margin-left: 70px;
}

#clients .container .row .borde
{
	border: 1px solid #F9F9F9;
	border-radius: 20px;
	background: #F9F9F9;
	margin-left: 70px;
	box-shadow: 4px 2px 4px 2px rgba(4, 4, 4, 0.2);
}
#clients .container .row button
{
	margin-top: 35px;
	border: 1px solid #1c69f5;
	color: #1c69f5;
	background: #fff;
	outline: none;
	padding: 5px 25px;
	border-radius: 5px;
	margin-left: 120px;
	margin-bottom: 50px;
}
#clients .container .row button:hover
{
	background: #1c69f5;
	color: #fff;
}
#clients .container .row .borde i
{
	font-size: 2.4em;
	color: #1c69f5;
    margin-top: -10px;
    margin-left: 25px;
}
#clients .container .row .borde p
{
	font-size: 11.8px;
    margin-left: 25px;
    margin-right: 20px;
}
#clients .container .row .borde img
{
	width: 40px;
    margin-left: 25px;
    border-radius: 40px;
}
#clients .container .row .borde h6
{
	margin-left: 80px;
    font-weight: bold;
    margin-top: -40px;
}

#clients .container .row .board
{
	border: 1px solid #F9F9F9;
	border-radius: 20px;
	background: #F9F9F9;
	margin-left: 30px;
	margin-right: 36px;
	box-shadow: 4px 2px 4px 2px rgba(4, 4, 4, 0.2);
}
#clients .container .row .board i
{
	font-size: 2.4em;
	color: #1c69f5;
    margin-top: -10px;
    margin-left: 25px;
}
#clients .container .row .board p
{
	font-size: 11.8px;
    margin-left: 30px;
    margin-right: 35px;
}

#clients .container .row .board img
{
	width: 40px;
    margin-left: 25px;
    border-radius: 40px;
}
#clients .container .row .board h6
{
	margin-left: 80px;
    font-weight: bold;
    margin-top: -40px;
}

/*End Second last section*/

#foot
{
	background: #F6F6F6;
	padding-bottom: 50px;
}

#foot .container .row #imagei img
{
	width: 30px;
	margin-top: 30px;
}
#foot .container .row h2	
{
	font-weight: 800;
	font-size: 45px;
	color: #1c69f5;
	margin-top: -50px;
	margin-left: 20px;
}

#foot .container .row #domain h3
{
	font-weight: bold;
	margin-top: 80px;
	margin-left: -90px;
}

#foot .container .row #domain h6
{
	margin-left: -85px;
	margin-top: 15px;
	font-weight: 700;
	cursor: pointer;
}

#foot .container .row #next h3
{
	margin-top: 80px;
	font-weight: bold;
}

#foot .container .row #next h6
{
	margin-top: 15px;
	font-weight: 600;
	cursor: pointer;
}

#foot .container .row #icons i
{
	margin-top: 83px;
	font-size: 20px;
	cursor: pointer;
	margin-left: 30px;
}

#foot .container .row #doler
{
	margin-left: 30px;
	font-weight: 800;
	margin-top: 20px;
}
/*End Page*/

#rezue li ul
{
	display: block;
	background: #fff;
	position: absolute;
	margin-top: 1px;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform: translateY(0px);
}

#rezue li:hover ul
{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

#rezue li ul li
{
	text-decoration: none;
	list-style: none;
}

#rezue li ul li a
{
	text-decoration: none;
	padding: 33px 20px;
	color: #000;
}


#rezue li ul li a:hover
{
	color: #1c69f5;
}